<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<form th:method="GET" th:action="@{/ticket/get/{id}(id=${ticketId})}">
    <label for="ticketId">Enter id: </label>
    <input type="text" id="ticketId"/>
    <br/>
    <input type="submit" value="get ticket"/>
</form>

<table border="1">
    <tr>
        <td>Ticket</td>
        <td>Event id</td>
        <td>User id</td>
        <td>Category</td>
        <td>Place</td>
    </tr>
    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.getId()}"></td>
        <td th:text="${ticket.getEvent().getId()}"></td>
        <td th:text="${ticket.getUser().getId()}"></td>
        <td th:text="${ticket.getCategory()}"></td>
        <td th:text="${ticket.getPlace()}"></td>
    </tr>
</table>

</body>
</html>