<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<p><a href="#" th:href="@{'/'}">HOME</a></p>



<table border="1">
    <tr>
        <td>idUser</td>
        <td>Name</td>
        <td>Email</td>
        <td>action</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <form method="post"  th:action="@{/user/delete}">
                <input type="text" hidden name="id" th:value="${user.getId()}">
                <input type="submit" value="delete user">
            </form>
            <form method="post"  th:action="@{/action/update}">
                <input type="text" hidden name="id" th:value="${user.getId()}">
                <input type="text" name="name" hidden th:value="${user.getName()}">
                <input type="text" hidden name="email" th:value="${user.getEmail()}">
                <input type="submit" value="update user">
            </form>
        </td>

    </tr>
</table>

</body>
</html>