<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>greeting</title>
</head>
<body>
<form th:method="GET" th:action="@{/user/get}" method="get">
    <label for="userId">Enter id: </label>
    <input type="text" id="userId"/>
    <br/>
    <input type="submit" value="get user"/>
</form>
<form th:method="GET" th:action="@{/user/get/email}">
    <label for="email">Enter email: </label>
    <input type="text" id="email"/>
    <br/>
    <input type="submit" value="get user by email"/>
</form>
<p><td th:text="${result}"></td></p>
<p><a href="#" th:href="@{'/user/get/1'}">Get user by Id</a></p>
<p><a href="#" th:href="@{'/action/create'}">Create user</a></p>

</body>
</html>