<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<form th:method="GET" th:action="@{/user/get/{id}(id=${userId})}">
    <label for="userId">Enter id: </label>
    <input type="text" id="userId"/>
    <br/>
    <input type="submit" value="get user"/>
</form>

<table border="1">
    <tr>
        <td>idUser</td>
        <td>Name</td>
        <td>Email</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getEmail()}"></td>
    </tr>
</table>

</body>
</html>